apiVersion: undermoon.doyoubi.mydomain/v1alpha1
kind: Undermoon
metadata:
  name: {{ include "undermoon-cluster.fullname" . }}
  namespace: {{ .Release.Namespace }}
spec:
  activeRedirection: {{ .Values.cluster.activeRedirection }}
  affinity: {{- toYaml .Values.affinity | nindent 4 }}
  brokerEnvVar: {{- toYaml .Values.envVar.broker | nindent 4 }}
  brokerResources: {{- toYaml .Values.resources.brokerResources | nindent 4 }}
  chunkNumber: {{ .Values.cluster.chunkNumber }}
  clusterName: {{ .Values.cluster.clusterName }}
  coordinatorEnvVar: {{- toYaml .Values.envVar.coordinator | nindent 4 }}
  coordinatorResources: {{- toYaml .Values.resources.coordinatorResources | nindent 4 }}
  disableFailover: {{ .Values.cluster.disableFailover }}
  imagePullSecrets: {{- toYaml .Values.imagePullSecrets | nindent 4 }}
  maxMemory: {{ .Values.cluster.maxMemory }}
  migrationLimit: {{ .Values.cluster.migrationLimit }}
  migrationScanCount: {{ .Values.cluster.migrationScanCount }}
  migrationScanInterval: {{ .Values.cluster.migrationScanInterval }}
  nodeSelector: {{- toYaml .Values.nodeSelector | nindent 4 }}
  port: {{ .Values.cluster.port }}
  proxyEnvVar: {{- toYaml .Values.envVar.proxy | nindent 4 }}
  proxyResources: {{- toYaml .Values.resources.proxyResources | nindent 4 }}
  proxyThreads: {{ .Values.cluster.proxyThreads }}
  redisEnvVar: {{- toYaml .Values.envVar.redis | nindent 4 }}
  redisImage: {{ .Values.image.redisImage }}:{{ .Values.image.redisImageTag }}
  redisResources: {{- toYaml .Values.resources.redisResources | nindent 4 }}
  redisVolumeDevices: {{- toYaml .Values.redisVolumeDevices | nindent 4 }}
  redisVolumeMounts: {{- toYaml .Values.redisVolumeMounts | nindent 4 }}
  schedulerName: {{ quote .Values.schedulerName }}
  storageVolumes: {{- toYaml .Values.storageVolumes | nindent 4 }}
  tolerations: {{- toYaml .Values.tolerations | nindent 4 }}
  undermoonImage: {{ .Values.image.undermoonImage }}:{{ .Values.image.undermoonImageTag }}
  undermoonImagePullPolicy: {{ .Values.image.undermoonImagePullPolicy }}
  volumeClaimTemplates: {{- toYaml .Values.volumeClaimTemplates | nindent 4 }}
